@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #eeeeee;
  --color-white: #ffffff;
  --color-bright-gray: #eeeeee;
  --color-medium-gray: #bcbcbc;
  --color-muted-gray: #a3a3a3;
  --color-graphite: #3f3f3f;
  --color-surface: #1e1e1e;
  --color-abyss: #171717;
  --color-amethyst: #7c3aed;
  --color-lavender: #a78bfa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-abyss: #171717;
  --color-surface: #1e1e1e;
  --color-white: #ffffff;
  --color-bright-gray: #eeeeee;
  --color-medium-gray: #bcbcbc;
  --color-muted-gray: #a3a3a3;
  --color-graphite: #3f3f3f;
  --color-amethyst: #7c3aed;
  --color-lavender: #a78bfa;
}

html {
  background: #171717;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
